* {
    box-sizing: border-box;
}

body {
    background-image: url(assets/what-the-hex-dark.png);
} 

#banner {
    text-align: center;
    margin: 0 0 50px 0;
    font-family:sans-serif;
    font-size: 50px;
    padding: 20px;
    color: #c5c6c7;
    font-weight: bold;
    text-decoration: underline solid #c5c6c7;
}


input {
    width: 50%;
    text-align: center;
}

#search {
    margin:  0 auto;
    margin-bottom: 50px;
    display: inline-block;

}

.box{
    width: 100%;
    text-align:center;
}

#title {
    background: white;
    border-top: dashed 15px #66fcf1; 
    border-right: dashed 15px #66fcf1;
    border-left: dashed 15px #66fcf1; 
    padding: 0 188px 0 155px;
    background-image: url(assets/prism.png);
    font-size: 30px;
    color: #66fcf1;
    font-family: sans-serif;
    font-weight: bold;
}

#left {
    background-color: #0b0c10;
    color: #66fcf1;
    font-weight: bold;
    text-decoration: underline #66fcf1 2px;
}

#right {
    background-color: #0b0c10;
    color: #66fcf1;
    font-weight: bold;
    text-decoration: underline #66fcf1 2px;
}

.maincontainer {
    padding: 30px 100px 180px 100px;
    text-align: center;
    border: dashed 15px #66fcf1; 
    background-image: url(assets/prism.png);
}



.originalTweet {
    border: black 5px solid;
    float:left;
    height: fit-content;
    width: 30%;
    background-color: white;
    max-height: 100%;
}

#button {
    background-color:#45a29e;
    border: solid black 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#button:hover {
    background-color: black;
    border: #45a29e solid 2px;
    color: #66fcf1;
    transition-duration: 1.0s;
}

.transmogTweet {
    border: black 5px solid;
    float:right;
    height: fit-content;
    width: 30%;
    background-color: white;
    max-height: 100%;
}

.box2 {
    width: 100%;
    text-align: center;
    margin: 50px 0 0 0;
}

#export {
    background-color: black; 
    border: 2px solid #45a29e;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#export:hover {
    background-color: #45a29e;
    color: black;
    border: solid 2px black;
    transition-duration: 1.0s;
}

@media (width: 320px) {
    .maincontainer {
        padding: 50px 50px 380px 50px;
    }
    .originalTweet {
        width: 100%;
    }
    .transmogTweet {
        width: 100%;
    }
}

@media (width: 375px) {
    .maincontainer {
        padding: 50px 50px 380px 50px;
    }
    .originalTweet {
        width: 100%;
    }
    .transmogTweet {
        width: 100%;
    }
}

@media (width: 360px){
    .maincontainer {
        padding: 50px 50px 380px 50px;
    }
    .originalTweet {
        width: 100%;
    }
    .transmogTweet {
        width: 100%;
    }
}

@media (width:411px) {
    .maincontainer {
        padding: 50px 50px 380px 50px;
    }
    .originalTweet {
        width: 100%;
    }
    .transmogTweet {
        width: 100%;
    }
}

@media (width: 414px) {
    .maincontainer {
        padding: 50px 50px 380px 50px;
    }
    .originalTweet {
        width: 100%;
    }
    .transmogTweet {
        width: 100%;
    }
}

@media (width: 425px) {
    .maincontainer {
        padding: 50px 50px 380px 50px;
    }
    .originalTweet {
        width: 100%;
    }
    .transmogTweet {
        width: 100%;
    }
}

@media (width: 640px) {
    .transmogTweet{
        width: fit-content;
        margin-top: 10px;
    }
    .originalTweet {
        width: fit-content;
        margin-bottom: 10px;
    }
}

@media (width: 768px) {
    .transmogTweet{
        width: fit-content;
        margin-top: 10px;
    }
    .originalTweet {
        width: fit-content;
        margin-bottom: 10px;
    }
}

@media (width: 1024px) {
    .maincontainer {
        padding: 50px 50px 250px 50px;
    }
    .originalTweet {
        width: 40%;
    }
    .transmogTweet {
        width: 40%;
    }
}